{% extends "base.html" %}
{% block content %}
<h1>Aanpassen pronostiek<span id="hidden_id">{{ own_pred.id }}</span></h1>
<!-- Aanpassing pronostiek -->
<div class="center-container">
    <div class="match-card">
        {% if not match.match_done %}
        <div class="match-time">{{ match.match_date.strftime("%H:%M") }}</div>
        <div class="match-date">{{ match.match_date.strftime("%d/%m/%Y") }}</div>
        <div class="teams">
            <div class="team">
                <img src="{{ url_for('static', filename='images/' + match.home_team.logo_url) }}"
                    alt="{{ match.home_team.name }} Logo">
                <div class="team-name">{{ match.home_team.name }}</div>
            </div>
            <div class="score">
                <span id="home-score">{{ own_pred.predicted_home_score }}</span>
                <span> - </span>
                <span id="away-score">{{ own_pred.predicted_away_score }}</span>
            </div>
            <div class="team">
                <img src="{{ url_for('static', filename='images/' + match.away_team.logo_url) }}"
                    alt="{{ match.away_team.name }} Logo">
                <div class="team-name">{{ match.home_team.name }}</div>
            </div>
        </div>
        {% if edit %}
        <div class="aanpassen-score">
            <div style="width: 40%;">
                <span class="score-cirkel" id="add-score-home">+</span>
                <span class="score-cirkel" id="lower-score-home">-</span>
            </div>
            <div style="width: 40%;">
                <span class="score-cirkel" id="add-score-away">+</span>
                <span class="score-cirkel" id="lower-score-away">-</span>
            </div>
        </div>
        <div class="submit-prono">
            <button type="button" class="btn btn-outline-primary" id="update-pronostiek">Update Pronostiek</button>
        </div>
        {% else %}
        <div class="submit-prono">
            <button type="button" class="btn btn-outline-secondary" id="update-pronostiek" disabled>MATCH BEZIG</button>
        </div>
        {% endif %}
        {% else %}
        <div class="match-prediction">
            <span class="predict-text">PRONOSTIEK</span>
            {% if own_pred is none %}
            <span class="predict-score">_ - _</span>
            {% else %}
            <span class="predict-score">{{ own_pred.predicted_home_score }} - {{ own_pred.predicted_away_score }}</span>
            {% endif %}

            {% if own_pred is none %}
            <span class="badge bg-danger badge-size">+0</span>
            {% else %}
            {% if own_pred.points_earned == 1 %}
            <span class="badge bg-secondary badge-size">
                {% elif own_pred.points_earned == 3 %}
                <span class="badge bg-info badge-size">
                {% elif own_pred.points_earned == 6 %}
                <span class="badge bg-primary badge-size">
                    {% elif own_pred.points_earned == 10 %}
                    <span class="badge bg-success badge-size">
                        {% endif %}
                        +{{ own_pred.points_earned }}</span>
                    {% endif %}
        </div>
        <hr>
        <div class="match-time">{{ match.match_date.strftime("%H:%M") }}</div>
        <div class="match-date">{{ match.match_date.strftime("%d/%m/%Y") }}</div>
        <div class="teams">
            <div class="team">
                <img src="{{ url_for('static', filename='images/' + match.home_team.logo_url) }}"
                    alt="{{ match.home_team.name }} Logo">
                <div class="team-name">{{ match.home_team.name }}</div>
            </div>
            <div class="score">{{ match.home_score }} - {{ match.away_score }}</div>
            <div class="team">
                <img src="{{ url_for('static', filename='images/' + match.away_team.logo_url) }}"
                    alt="{{ match.away_team.name }} logo">
                <div class="team-name">{{ match.away_team.name }}</div>
            </div>
        </div>
        {% endif %}
    </div>
</div>

<hr>
<table class="table table-bordered table-hover">
    <thead>
        <tr class="table-active">
            <th scope="col">Naam</th>
            <th scope="col">Pronostiek</th>
            {% if match.match_done %}
            <th scope="col">Verdiende punten</th>
            {% endif %}
        </tr>
    </thead>
    <tbody>
        {% for (username, pred_home_score, pred_away_score, points_earned) in other_pred %}
        <tr>
            <th scope="row">{{ username }}</th>
            <td>{{ pred_home_score }} - {{ pred_away_score }}</td>
            {% if match.match_done %}
            <td>{% if points_earned == 1 %}
                <span class="badge bg-secondary badge-size">
                    {% elif points_earned == 3 %}
                    <span class="badge bg-info badge-size">
                    {% elif points_earned == 6 %}
                    <span class="badge bg-primary badge-size">
                        {% elif points_earned == 10 %}
                        <span class="badge bg-success badge-size">                            
                            {% endif %}
                            +{{ points_earned }}</span>
            </td>
            {% endif %}
        </tr>
        {% endfor %}
    </tbody>
</table>

<script src="{{ url_for('static', filename='prono.js')}}"></script>
{% endblock %}